

.booking-form-box{
    display: block;
    border: 1px solid lightgray;
    width: 326px;
    height: 456px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    position: sticky;
    top: 25px;
}

.from-price{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px;
    font-weight: 700;
}

.night{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 13px ;
    font-weight: 200 ;
}

.main-price-line{
    display: flex;
}

.checked {
  color: rgb(0,133,136);
}
.size {
    padding-top: 10px;
    font-size: x-small;
}

.other-gray-line{
    display: block;
    height: 0px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(235,235,235);
    width: 307px;
}
.dates{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 12px;
    padding-top: 20px;
}

.booking-form{
    // display: flex;
}

.guest-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 280px;
    height: 35px;
    border-radius: 2px;
    padding-left: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 20px;
    font-weight: 300;
    color: rgb(118,118,118);
    // margin-bottom: 20px;
    border: 1px solid lightgray;
    transition: transform .3s;
    position: relative;

}
.request-button{
    width: 308px;
    height: 46px;
    border-radius: 4px;
    padding-left: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 17px;
    font-weight: 300;
    color: white;
    background-color: rgb(241,90,95);
    margin-top: 20px;
    margin-bottom: 14px;
    border: 2px solid rgb(241,90,95);
}

.nocharge{
    text-align: center;
    font-size: 11px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin-bottom: 32px;
}

.includes-lightbulb{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.light{
    width: 48px;
    height: 45px;
}

.extra-bot-stuff{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px;
}

.mind{
    padding-bottom: 10px;
}

.views{
    font-weight: 100;
}

.find-with{
    display: none;
}

.dropdown-content {
    display: flex;
    z-index: 5;
    transition: transform .3s;
    position: absolute;
    width: 274px;
    height: 267px;
    padding: 0px 16px;
    flex-direction: column;
    align-content: space-between;
    // justify-content: space-between;
    background: white;
    border: 1px solid lightgray;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.adults-children{
    display: inline-block;
    z-index: 5;
    padding: 16px 15px;
    // border: 1px solid blue;
}

.age-restricts{
    font-size: 13px;
    padding-top: 7px;
    color: gray;
}

.close-dropdown{
    display: flex;
    margin-top: 10px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    justify-content: flex-end;
    padding-right: 15px;
    color: rgb(50,132,137);
}

.close-dropdown:hover{
    cursor: pointer;
}

.minus-circle, .add-circle{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid rgb(50,132,137);
    text-align: center;
    // align-self: center;
}
.minus-circle:hover, .add-circle:hover{
    cursor: pointer;
}

.adult-infant-count{
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    padding-right: 10px;
}

.for-flex{
    display: flex;
    justify-content: space-between;
}

.only-adult{
    padding-top: 24px;
}

.the-count{
    // border: 1px solid red;
    text-align: center;
    width: 30px;
    margin: 10px;
    margin-top: 5px;
}

.extra-padding{
    margin-bottom: 16px;
}

.lighten{
    color: rgb(198,225,226)
}