.booking-pic{
    // display: block;
    height: 150px;
    width: 150px;
}


.to-make-work{
    padding: 20px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;

}