div#background-splash{
    width: 100vw;
    height: 100vh;
    background-image: url('cabin.jpg');
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
}