div#background-splash{
    width: 100vw;
    height: 100vh;
    // background-image: url('cabin.jpg');
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
}


.introduce-splash{
    width: 1740px;
    height: 300px;
}

.recommend-img{
    height: 450px;
    width: 330px;
    padding-right: 23px;
    margin-bottom: 100px;
}

.recommend-flex{
    display: flex;
    flex-wrap: wrap;
}

.recomended-for-you{
    margin-top: 40px;
    margin-bottom: 14px;
    padding-bottom: 0px;
    
}

.new-selection{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin-bottom: 20px;
    font-weight: 300;
}