.listing-index-item{
    display: block;
    // border: 1px solid black;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 265.250px;
    height: 270px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}

div.bed-and-room-info{
    font-weight: 500;
    font-size: 12px;
    color: gray;
    display: flex;
}

h3{
    margin: 0;
    font-size: medium;
    padding-top: 3px;
}

div.price {
    font-size: small;
    font-weight: lighter;
}

div.price, div.reviews{

    padding-top: 3px;
}

div.reviews{
    font-size: x-small;
}

.checked {
  color: rgb(0,133,136);
}
li{
    text-indent: -4px
}
.dot {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
  margin: 2px;
}

img{
    height: 177px;
    width: 265px;
}