.entire-info{
    margin-top: 24px;
    margin-left: 440px;
    // margin-right: 448px;
    width: 596px;
}

.maindisplay-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.home-type{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #231341;
}
.listing-title{
    margin: 0px;
    padding-bottom: 5px;
    font-size: bigger;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;

}
.home-icon-word{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    padding-left: 20px;
}

.icon-hometype{
    display: flex;
    font-weight: 500;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
.thisforflex{
    display: flex;
}

.sizing{
    font-size: 13px;
    padding-top: 3px;
    // margin-right: 5px;
}

.city{
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
    padding-bottom: 40px;
}

.bed-bath{
    display: flex;
    padding-top: 4px;
    padding-left: 25px;
    justify-content: space-between;
    width: 255px;
    height: 22px;
    font-size: 15px;
    font-weight: 200;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
}

.description{
    padding-top: 4px;
    width: 560px;
    padding-left: 25px;
    height: 22px;
    font-size: 15px;
    font-weight: 200;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
}

.sections{
    padding-bottom: 12px;
}

.icontest{
    padding-left: 12px;
    font-size: 14px;

}
.icontest2{
    padding-left: 13px;
    font-size: 14px;
    font-weight: 600;
}

.gray-line{
    display: block;
    height: 0px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(235,235,235);
    width: 610px;
}

.description-full{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}
.alone-icon{
    padding-left: 3px;
}

.useless-link{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0,133,136);
    padding-top: 20px;
    padding-bottom: 20px;
}

.amenities{
    padding-top: 32px;
    font-size: 18px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;

}


.entire-imgs{
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

#img-grid{
    display: grid;
    grid-template-rows: 50% 50%; 
    grid-template-columns: 50% 50%; 
    overflow: hidden;
}

.grid-holder{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    overflow: hidden;
}

.first-img-stuff{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 3px solid black;
}

.first-pic{
    display: inline-block; 
    width: inherit;
    height: inherit;
    transition: transform .5s;
    overflow: hidden; 
    box-sizing: border-box;
    z-index: 1;
}

.first-pic:hover{
    transform: scale(1.05);
    // overflow: hidden; 
}

.img-one{
    display: inline-block; 
    width: inherit;
    height: inherit;
    transition: transform .5s;
    overflow: hidden; 
    box-sizing: border-box;
    z-index: 1;
}

.img-one:hover{
    transform: scale(1.05);
}

.img-two{
    display: inline-block; 
    width: 100%;
    height: 100%;
    transition: transform .5s;
    box-sizing: border-box;
    z-index: 1;
}

.img-two:hover{
    transform: scale(1.05);
}
.img-three{
    display: inline-block; 
    width: 100%;
    height: 100%;
    transition: transform .5s;
    box-sizing: border-box;
    z-index: 1;
}

.img-three:hover{
    transform: scale(1.05);
}
.img-four{
    display: inline-block; 
    width: 100%;
    height: 100%;
    transition: transform .5s;
    box-sizing: border-box;
    z-index: 1;
}

.img-four:hover{
    transform: scale(1.05);
}

.elements-amen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 512px;
    padding-left: 9px;
}

li.amenities-li{
    display: block;
    width: 256px;
    height: 22px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 17px !important;
    font-weight: 300 !important;
    padding-bottom: 20px;
    color: rgb(92,92,92);
}

.amenitiy-icon{
    padding-left: -10px;
    padding-right: 10px;
}

.includes-booking{
    display: flex;
    align-items: flex-start;
}