.contains-listing-index-item {
    display: flex;
    flex-wrap: wrap;
    // width: 1000px;
    // border: 2px solid black;
    margin-left: 80px;
    margin-right: 80px;

}

h2.where-to-stay{
    margin-left: 88px;
}


.includes-map{
    display: flex;
    flex-direction: row;
}