// // Place all the styles related to the sessions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container{
    display: block; 
    position: relative;
    border: 1px solid black;
    background: white;
    padding: 32px;
    width: 504px;
    height: 363px;
    align-items: center;
}

input#text-box{
    width: 453px;
    height: 24px;
}

.facebook-link{
    display: inline-block;
    text-align: center;
    color: white;
    height: 24px;
    width: 456px;
    background: rgb(66,103,178);
    border-bottom: none;
    border-radius: 5px;
}
.check-box:hover{
    cursor: pointer;
}
button#session-submit{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: white;
    width: 456px;
    height: 40px;
    border-radius: 5px;
    background: lightcoral;
}
.session-submit:hover{
    cursor: pointer;
}

h2{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    position: relative;
    top: 10px;
    // font-weight: 100;
    margin: 0px;
    
}

div.close-x{
    display: inline-block;
    top: -11px;
    left: 0px;
    position: absolute;
    color: rgb(128,128,128);
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 100;
}

// ul#errors{

// }

div.login-message{
    display: flex;
    justify-content: center;
    align-items: center
}

input {
    margin: 5px;
}

form#form-box{
    position: relative;
}

