// // Place all the styles related to the sessions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container{
    display: block; 
    position: relative;
    border: 1px solid black;
    background: white;
    padding: 32px;
    width: 504px;
    height: 727px;
    align-items: center;
}

div.signup-form{
    justify-content: center;
}

input#text-box{
    width: 453px;
    height: 24px;
    border-radius: 3px;
    align-self: center;
    border: 1px solid lightgray;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    margin: 9px;
}

.box-and-password{
    display: flex;
    justify-content: space-between;
}

.facebook-link{
    display: inline-block;
    text-align: center;
    color: white;
    padding-left: 26px;
    height: 24px;
    width: 456px;
    background: rgb(66,103,178);
    border-bottom: none;
    border-radius: 5px;
}
.check-box:hover{
    cursor: pointer;
}

div#or-line-combo{
    box-sizing: border-box;
    border: none;
    border-top: 1px solid lightgray;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: -12px;
}
div#or{
    display: inline-block;
    width: 95%;
    padding: 10px;
    color: rgb(128,128,128); 
    background-color: white;
    text-align: center;
}

div#or::before, div#or::after{
    display: inline-block;
    width: 46%;
    content: ' ';
    padding: .1em;
    border-top: 1px solid lightgray;
}


button#session-submit{
    display: inline-block;
    align-self: center;
    text-align: center;
    font-size: 15px;
    color: white;
    width: 474px;
    height: 54px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: rgb(252,91,99);
}
.session-submit:hover{
    cursor: pointer;
}

h2{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 20px;
    position: relative;
    top: 10px;
    // font-weight: 100;
    margin: 0px;
    
}

div.close-x{
    display: inline-block;
    top: -11px;
    left: 0px;
    position: absolute;
    color: rgb(128,128,128);
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    cursor: pointer;
    font-weight: 100;
}

// ul#errors{

// }

div.login-message{
    display: flex;
    justify-content: center;
    align-items: center
}

input {
    margin: 5px;
}

form#form-box{
    position: relative;
}

